<form [formGroup]="projectForm" >
    <mat-card-title>Task Manager</mat-card-title>
    <mat-card-subtitle>Adauga sedinta noua</mat-card-subtitle>
    <br><br>
    <div class="container">

        
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
            <mat-error *ngIf="name?.invalid">Need at least {{name?.errors?.['minlength']?.requiredLength}} characters.
            </mat-error>

        </mat-form-field>
        <mat-form-field appearance="fill" >
            <mat-label>Description</mat-label>
            <textarea  matInput formControlName="description"></textarea>
            <mat-error *ngIf="description?.invalid">Description is required.</mat-error>
        </mat-form-field> 
                  
        <br><br>
        <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" [disabled]="projectForm?.invalid">Add</button>
    </div>
</form>


