<form [formGroup]="clientForm" >
    <mat-card-title>Task Manager</mat-card-title>
    <mat-card-subtitle>Add new client</mat-card-subtitle>
    <br><br>
    <div class="container">

        
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
            <mat-error *ngIf="name?.invalid">Need at least {{name?.errors?.['minlength']?.requiredLength}} characters.
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" >
            <mat-label>Company</mat-label>
            <textarea  matInput formControlName="company"></textarea>
            <mat-error *ngIf="company?.invalid">Company is required.</mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" >
            <mat-label>Email</mat-label>
            <textarea  matInput formControlName="email"></textarea>
            <mat-error *ngIf="email?.invalid">Email is required.</mat-error>
        </mat-form-field>        

            
        <br><br>
        <button mat-raised-button color="primary" type="submit" (click)="onSubmit()" [disabled]="clientForm?.invalid">Add</button>
    </div>
</form>

